<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form (ngSubmit)="onSubmit()" #f="ngForm">
        <!-- Using the Angular directive on an element and then referencing the directive in the tag (like below in #userData) is a "trick"
        that allows to access the Javascript object properties. The same is done with the email input of this page. -->
        <!-- The directive ngModelGroup allows to combine (group) several elements of a formular. -->
        <div id="user-data" ngModelGroup="userData" #userData="ngModelGroup">
          <div class="form-group">
            <label for="username">Username</label>
            <input ngModel name="username" type="text" id="username" class="form-control" required>
          </div>
          <button class="btn btn-default" type="button">Suggest an Username</button>
          <div class="form-group">
            <label for="email">Mail</label>
            <!-- ngModel without property binding is used to tell Angular to link the element with the Form model -->
            <input ngModel name="email" type="email" id="email" class="form-control" required email #email="ngModel">
            <span class="help-block" *ngIf="!email.valid && email.touched">Please enter a valid e-mail!</span>
          </div>
        </div>
        <p *ngIf="!userData.valid && userData.touched">User Data is invalid!</p>
        <div class="form-group">
          <label for="secret">Secret Questions</label>
          <!-- Here, one-way property binding was used to populate the default input value -->
          <select [ngModel]="defaultQuestion" name="secret" id="secret" class="form-control">
            <option value="pet">Your first Pet?</option>
            <option value="teacher">Your first teacher?</option>
          </select>
        </div>
        <div class="form-group">
          <!-- Two-way binding can be used when an response to the input process is needed. -->
          <textarea name="questionAnswer" rows="3" class="form-control" [(ngModel)]="answer"></textarea>
        </div>
        <p>Your reply: {{ answer }}</p>
        <div class="radio" *ngFor="let gender of genders">
          <label>
            <input type="radio" name="gender" ngModel [value]="gender" required> {{ gender }}
          </label>
        </div>
        <!-- The form object holds several properties for its state, for example, "touched", "dirty", or "valid".
        Here the "valid" property is being used to disable the Submit button. -->
        <button class="btn btn-primary" type="submit" [disabled]="!f.valid">Submit</button>
      </form>
    </div>
  </div>
</div>
