<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <button
        class="btn btn-primary"
        (click)="onlyOdd = !onlyOdd">Only show odd numbers</button>
      <br><br>
      <ul class="list-group">
        <!-- <div *ngIf="onlyOdd"> -->
        <div *appUnless="!onlyOdd">
          <li class="list-group-item" [ngClass]="{odd: number % 2 !== 0}"
            [ngStyle]="{backgroundColor: number % 2 !== 0 ? 'yellow' : 'transparent'}" *ngFor="let number of oddNumbers">
            {{ number }}
          </li>
        </div>
        <!-- <div *ngIf="!onlyOdd"> -->
        <div *appUnless="onlyOdd">
          <li class="list-group-item" [ngClass]="{odd: number % 2 !== 0}" 
            [ngStyle]="{backgroundColor: number % 2 !== 0 ? 'yellow' : 'transparent'}" *ngFor="let number of evenNumbers">
            {{ number }}
          </li>
        </div>
      </ul>
      <ng-template [ngIf]="onlyOdd">
        <p>Only odd</p>
      </ng-template>
      <p appBasicHighlight>Style me with basic directive</p>
      <!-- Giving a directive a property with the same name as the directive itself enables the directive to
      be called directly in square brackets, "passing to the directive itself" the value of the property.
      The behavior of other properties remain unchanged. Angular will figure out wether the bound property
      belongs to the element or to the directive. -->
      <!-- The properties of directives can be called without square brackets. For that, the single quotes must
      also be removed from the value (for string values). In this case, the name of the property must be clear on
      differentiating it from regular HTML element attributes, to avoid confusion.-->
      <p [appBetterHighlight]="'red'" defaultColor="yellow">Style me with better directive</p>
    </div>
  </div>
</div>
