<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <ul class="list-group">
        <li
          class="list-group-item"
          *ngFor="let server of servers"
          [ngClass]="getStatusClasses(server)">
          <span
            class="badge">
            {{ server.status }}
          </span>
          <!-- Reference to the usage of pipes can be found at https://angular.io/api?query=pipe -->
          <strong>{{ server.name | shorten:20 }}</strong> |
          {{ server.instanceType | uppercase }} |
          <!-- When chaining pipes, the order is important: the line below works: -->
          {{ server.started | date:'fullDate' | uppercase }}
          <!-- This next one, however, does not. Angular does not now how to turn a Date value to uppercase -->
          <!-- {{ server.started | uppercase | date:'fullDate' }} -->
        </li>
      </ul>
    </div>
  </div>
</div>
